<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>机器学习分类系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/flat-ui.min.css') }}"   rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/index.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/flat-ui.min.js') }}"></script>
  </head>
  <body>
    <div id="navigation">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#" style="">机器学习分类系统</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="col-md-8">
        <div class="section">
          <div class="header">
            <h5><i class="fa fa-desktop"></i> 实验结果可视化</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
          </div>
          <div class="body" >
			<div style="text-align: center">
				<img src=" {{ static_url('img/config.png') }}" style="text-align: center"></img>
				<h6>系统已就绪</h6>
			</div>
			
		  </div>
        </div>
      </div>

      <div class="col-md-4">
        <div id="overview" class="section">
            <div class="header">
                <h5><i class="fa fa-desktop"></i> 参数</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div> <!-- .header -->
            <div class="body">
                <div class="row-fluid" >
                    <div class="col-md-6 text-bold"><b>算法名称</b></div> <!-- .span4 -->
                    <div class="col-md-6" style="margin-bottom: 10px">
                      <select class="form-control">
                        <optgroup >
                          <option>随机森林</option>
                          <option>SVM</option>
                          <option>AdaBoost</option>
                          <option>KNN</option>
                          <option>朴素贝叶斯</option>
                          <option>随机梯度下降法</option>
                          <option>随机森林</option>
                        </optgroup>
                      </select>
                    </div> <!-- .span8 -->
                </div> <!-- .row-fluid -->
                <div class="row-fluid" >
                    <div class="col-md-6 text-bold"><b>训练样本</b></div> <!-- .span4 -->
                    <div class="col-md-6">
                      <button class="btn btn-primary col-md-12" style="margin-bottom: 10px">加载训练样本</button>
                    </div> <!-- .span8 -->
                </div> <!-- .row-fluid -->
                <div class="row-fluid" >
                    <div class="col-md-6 text-bold"><b>测试样本</b></div> <!-- .span4 -->
                    <div class="col-md-6"> <!-- .span8 -->
                      <button class="btn btn-primary col-md-12" style="margin-bottom: 10px">加载测试样本</button>
                    </div>
                </div> <!-- .row-fluid -->
            </div> <!-- .body -->
        </div> <!-- .section -->

        <div class="section">
          <div class="header">
            <h5><i class="fa fa-desktop"></i> 算法简介</h5>
              <a href="javascript:void(0)">
                <i class="fa fa-caret-down"></i>
              </a>
          </div>
          <div class="body">
            <p>随机森林指的是利用多棵树对样本进行训练并预测的一种分类器.</p>
          </div>
        </div>

        <div id="overview" class="section">
            <div class="header">
                <h5><i class="fa fa-desktop"></i> 实验结果</h5>
                <a href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div> <!-- .header -->
            <div class="body">
                <div class="row-fluid">
                    <div class="col-md-6 text-bold"><b>运行时间</b></div> <!-- .span4 -->
                    <div class="col-md-6">
                      -
                    </div> <!-- .span8 -->
                </div> <!-- .row-fluid -->
                <div class="row-fluid">
                    <div class="col-md-6 text-bold"><b>总体精度</b></div> <!-- .span4 -->
                    <div class="col-md-6"><b>-</b></div> <!-- .span8 -->
                </div> <!-- .row-fluid -->
                <div class="row-fluid">
                    <div class="col-md-6 text-bold"><b>总体召回率</b></div> <!-- .span4 -->
                    <div class="col-md-6"><b>-</b></div> <!-- .span8 -->
                </div> <!-- .row-fluid -->
                <div class="row-fluid">
                    <div class="col-md-6 text-bold"><b>总体F1-Sorce</b></div> <!-- .span4 -->
                    <div class="col-md-6"><b>-</b></div> <!-- .span8 -->
                </div> <!-- .row-fluid -->
            </div> <!-- .body -->
        </div> <!-- .section -->

        <button class="btn btn-embossed btn-primary col-md-12">
          提交
        </button>
      </div>
    </div>
    <!-- /.container -->
  </body>
</html>
